#include <windows.h>
#include "resource.h"
IDD_DLGTEST DIALOG DISCARDABLE 0, 0, 130, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION |
WS_SYSMENU
CAPTION "Dialog"
FONT 10, "MS Sans Serif"
BEGIN
 PUSHBUTTON "Exit",IDC_EXIT,70,50,45,15
 PUSHBUTTON "Calculate",IDC_CALC,20,50,45,15
 EDITTEXT IDC_FIRST,10,10,30,15,ES_AUTOHSCROLL
 EDITTEXT IDC_SIGN,50,10,30,15,ES_AUTOHSCROLL
 EDITTEXT IDC_SECOND,90,10,30,15,ES_AUTOHSCROLL
 EDITTEXT IDC_RESULT,40,30,50,15,ES_AUTOHSCROLL
END

